* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: dimgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.piano {
    display: flex;
}


.white {
    background: white;
    width: 75px;
    height: 300px;
    border: 1px solid black;
}

/* cannot add space between classes here */
.white.active {
    background: dodgerblue;
    border: 1px solid black;
}

.black {
    background: black;
    width: 46px;
    height: 175px;
    margin-left: -23px;
    margin-right: -23px;
    z-index: 1;
}

.black.active {
    background: dodgerblue;
    border: 1px solid black;
}

.keyboard-keys {
    padding: 10px;
    border: 2px ridge black;
}

.directions {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.top {
    margin-bottom: 5%;
    background: black;
    color: white;
}

.bottom {
    margin-top: 5%;
    background: white;
    color: black;
}