* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: dimgrey;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    min-height: 100vh;
}

.piano {
    display: flex;
    margin-left: 300px;
}


.white {
    background: white;
    width: 75px;
    height: 300px;
    border: 1px solid black;
}

.black {
    background: black;
    width: 46px;
    height: 175px;
    margin-left: -23px;
    margin-right: -23px;
    z-index: 1;
}

